@tailwind base;
@tailwind components;
@tailwind utilities;

/* ইনপুট ফিল্ডের জন্য একটি কমন স্টাইল (Optional) */
@layer components {
  .tailwind-input {
    @apply mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
  }
}